<!DOCTYPE html>
<html>
  <head>
      <title>{{ Section }}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/program.css">
    <script type="text/javascript" src="stylesheets/content.js"></script>
  </head>
<body>
{% block header %}
{% endblock %}

  <a href="/comments"><button style="width:49.5%;">Want to Leave A Comment?</button></a>
  <a href=""><button style="width:49.5%;">Want To See The Code?</button></a>

   <div class="Cable_Box" style="display:flex;">
    <div class="SelectBox">
      	<button onclick="myFunction()">Main Page</button>
      	<br>
      <h3>Section 1</h3>
      	<button onclick="myFunction2()">Basics of The Web</button>
      	<br>              	
      	<button onclick="myFunction3()">Getting Started</button>
      	<br>        
      	<button onclick="myFunction4()">CSS Code Style</button>
      	<br>              	
      <h3>Section 2</h3>
      	<button onclick="myFunction5()">Serious Programming</button>
      	<br>              	
      	<button onclick="myFunction6()">Functions</button>
      	<br>              	
      	<button onclick="myFunction7()">Loops and Debugging</button>
      	<br>              	
      	<button onclick="myFunction8()">Structuring Data</button>
      	<br>              	
      	<button onclick="myFunction9()">Problem Solving</button>
      	<br>              	
      <h3>Section 3</h3>
      	<button onclick="myFunction10()">Abstraction</button>
      	<br>               
        <button onclick="myFunction11()">Classes</button>
        <br>                
       <h3>Section 4</h3>
        <button onclick="myFunction12()">Servers</button>
        <br>                
        <button onclick="myFunction13()">GET vs. POST</button>
        <br>                
        <button onclick="myFunction14()">Input Validation</button>
        <br>                
        <button onclick="myFunction15()">HTML Templates</button>
        <br>              
       <h3>Section 5</h3>
        <button onclick="myFunction16()">JavaScript</button>
        <br>
        <button onclick="myFunction17()">RWD</button>
        <br>
        <br>
    </div>
<br>
    <div class="Sub_Section">
      <center>
     <h2 id="title">Welcome To My Notes</h2>
     <h4 id="content">Click A Button When You're Ready Or The Main Page Button To Get Started</h4>
      </center>
     </div>

    </div>
 </body>
</html>